tensorflow>=2.7.0,<2.16; sys_platform == 'linux' or sys_platform == 'windows'
tensorflow>=2.7.0,<2.16; sys_platform == 'darwin' and platform_machine != 'arm64'
tensorflow-macos>=2.7.0,<2.16; sys_platform == 'darwin' and platform_machine == 'arm64'
scipy
numpy
sympy>=1.8
joblib
wolframclient
