tensorflow>=2.7.0; sys_platform == 'linux'
tensorflow>=2.7.0; sys_platform == 'windows'
tensorflow-macos>=2.7.0; sys_platform == 'darwin'
tensorflow-metal; sys_platform == 'arm64'
scipy
numpy
sympy>=1.8
joblib
wolframclient