tensorflow; sys_platform == 'linux'
tensorflow; sys_platform == 'windows'
tensorflow-macos; sys_platform == 'darwin'
tensorflow-metal; sys_platform == 'arm64'
scipy
numpy
sympy>=1.8
joblib
wolframclient